body{     
        background-size: cover;
    /* background-position: a; */
    /* background-position: center; */
    background-repeat: no-repeat;
}

.o-contain-signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.o-contain{ 
    width: 100%;
    height: 100vh;
    background-image: url('/src/Resources/Images/principal.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.o-signin{
    background-color: white;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    width: 25rem;
    margin: 6rem 6rem 4rem 6rem;
    /* height: 40rem; */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.o-title{
    margin-bottom: 2rem;
    font-weight: 400;
    color: #677D8A;
}

.o-text{
    justify-self: center;
    margin-bottom: 2rem;
}
/* Mediaquerys para movil */
@media only screen and (max-width: 700px){
    .o-signin{
    width: 19rem;
    margin: 0.5rem;
    }
    .makeStyles-textField-4 {
        width: 15rem !important;
        margin-bottom: 2rem;
    }
    .o-contain{
        align-items: center;
    }
}