.o-service-confirm-header{
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #677D8A;
    
}

.o-confirmTitle{
    font-size: 1.7rem ;
}