.o-service-header{
    padding: 1rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #677D8A;
    
    
}

h3{
    font-weight: 300 !important; 
    margin-bottom: 1.5rem;
    margin-top: 0.7rem;
}
.o-service-icons{
    width: 70%;
    display: flex;
    justify-content: space-between;
}