/* Estilos para el fondo */
.o-body{
    position: fixed; 
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url('/src/Resources/Images/mapa.png'); 
}
/* estilos para la card de servicio */
.o-service{
    /* width: 25rem; */
    margin: 3rem;
    margin-top: 5rem;
    height: fit-content;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    /* box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.52); */
    background-color: white;
    text-align: center;
}
/* lables */
.o-label{
    justify-self:   flex-start ;
    align-items: flex-start;
    width: 5rem;
    margin-left: 2.5rem;
    margin-right: 4rem;
    font-weight: 300;
}
/* mensaje de error */
.o-error-message-service{
    background-color: rgb(252, 206, 206);
    margin: 0 0.8rem;
}
.o-error-message-service p{
    color: #721c24;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}
/* Mediaquerys para movil */
@media only screen and (max-width: 700px){
    .o-body{
        position: inherit;
        display: flex;
        justify-content: center;
    }
    .o-service{
        width: 19rem !important;
        margin-right: 0;
        margin: 0.5rem !important;
    }
    .o-label{
    margin: 0 !important;
    margin-top: 1rem !important;
    justify-content: center;
    }
}