.o-help{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
}

.o-helpTitle{
    margin-top:1rem;
    font-size: 2rem;

}

.o-content-help{
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
    min-height: 27rem;
    min-width: 30rem;
    width: 50rem;
    height: 47rem;
    background-image: url('../../Resources/Images/help.png');
    background-position: center;
    background-size: cover;
}

.o-helpinput{
    display: flex;
    align-items: center;
}
.o-title-top{
    font-size: 2.5rem;
    font-weight: lighter;
}

.o-helpDefine{
    color: #677D8A;
   display: flex;
   flex-direction: column;
   padding-right: 2rem;
   width: 45%;
   height: 95%;
   justify-content: space-between;

}

.o-help-option{
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    width: 14rem;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
   
}
.o-icono{
    color: black;
}

.o-middle-help{
    background-color: #F8F8F8;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: lighter;
}
.o-lupa{
    width: 3.5rem;
}

.helpicon{
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.8rem;
}

/* Mediaquerys para mobil */
@media only screen and (max-width: 768px){
    .o-help{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    .o-content-help{
        max-width: 100%;
        min-width: 100%;   
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2rem;
    
    }
    .o-title-top{
        font-size: 2.5rem;
        font-weight: lighter;
    }
    .makeStyles-root-5{
        width: 25rem !important;
    }
    
    .o-helpTitle{
        font-size: 1.5rem;
    }
    
    .o-helpinput{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    
    
    .o-helpDefine{
        margin: 0;
        width: 100%;
    }
    
    .o-help-option{
        padding: 1rem;
        font-size: 1rem;
    }
    .o-helpDefine{
        
        padding-right: 0;
        width: 100vw;
     
     }
     
     .o-bottom-help{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
     .o-help-option{
         width: 30%;
         margin: 0;
     }
    

}

/* Mediaquerys para mobil */
@media only screen and (max-width: 700px){

.o-help{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.o-content-help{
    max-width: 100%;
    min-width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;

}
.makeStyles-root-5{
    width: 1rem !important;
}

.o-helpTitle{
    font-size: 1.5rem;
}

.o-helpinput{
display: flex;
flex-direction: column;
max-width: 100%;
}


.o-helpDefine{
    margin: 0;
    width: 100%;
}

.o-help-option{
    padding: 1rem;
    font-size: 1rem;
}

.o-title-top{

    font-size: 1.3rem;

}

.o-helpDefine{

   padding-right: 0;
   width: 100vw;

}
.o-help-option{
    width: 100vw;
    margin: 0;
}

}