/* estilos del contenedor del servicio */
.o-service{
    width: 25rem;
    margin: 3rem;
}
/* estilos para el datepicker */
.mydatepicker{
    margin: 8px !important; 
    padding-top: 14px !important; 
    width: 10.3rem;
    
}
/* estilos de los labels de texto */
.o-label{
    justify-self:   flex-start ;
    align-items: flex-start;
    width: 5rem;
    margin-left: 2.5rem;
    margin-right: 4rem;
}