p{
    margin: 0
}

.o-patient{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #707070;
    cursor: pointer;
}

.o-patient:hover{
    background-color: #DFF1FF;
}
.o-pat-between{
    margin: 0rem 0.5rem    
}


.o-distance{
    color: gray;
    font-size: 0.8rem;
    margin-left: 1rem;
    text-align: initial;
}
.o-patient-service{
    margin-left: 1rem;
    display: flex;
    font-weight: bold;

}