/* estilos para el header */
.o-servicerate-header{
    display: flex;
    flex-direction: column;
    color: #677D8A;
}
/* estilos del top del panel */
.o-service-rate{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}
/* estilos del bonton */
.rate-button{
    display: flex;
    justify-content: center;
}
/* estilos para el area del de escritura */
#textarea{
    width: 100%;
    border: none;
    resize: none;
    background-color: #f8f8f8;
    padding: 0.5rem;
    outline: none;
    font-weight: 100;
}
/* estilos del texto de informacion */
.o-rate-info{
    font-weight: lighter;
    font-size: 1rem;
}

/*Rate stars*/
.rating{
    width: fit-content;
    position: relative;
    display: flex;
    transform: rotateY(180deg);
}
/* estilos de los labels de las estrellas */
.rating label{
    display: block;
    cursor: pointer;
    width: 2rem;
    margin-right: 0.5rem;
}
/* estilos de los inputs del rate */
.rating input{
    display: none;
}

.rating label::before{
    content: '\f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 2rem;
    color: #BDBDBD;
}

.rating label::after{
    content: '\f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 2rem;
    position: absolute;
    top: 0%;
    opacity: 0;
    display: block;
    color: #D7D0B7;
}

.rating label:hover::after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after
{
    opacity: 1;
}