.o-button{
    outline: none;
    margin: 1rem 0;
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: #54BEDF;
    background-color: #ABC6D6;
    color: white;
    border-radius: 1px;
    border: 0;
    transition: 0.7s;
    outline: none;
}

.o-button:hover{
    background-color: #007DA4;
    transition: 0.7s;
    outline: none;
}

.o-button:focus{
    outline: none;
}

