.o-navbar{
    -webkit-box-shadow: 0px 3px 13px -4px rgba(97,97,97,0.84);
    -moz-box-shadow: 0px 3px 13px -4px rgba(97,97,97,0.84);
    box-shadow: 0px 3px 13px -4px rgba(97,97,97,0.84);
    padding-left: 3rem;
    padding-right: 3rem;
}

.o-nav-title{
    color: #D7D0B7;
    font-weight: bolder;
    margin: 0;
    justify-self: center;
    text-decoration: none;
    margin-right: 5rem;
    transform: scale(1);
}

.o-nav-title:hover{
    transform: scale(1.1);
    transition: 0.8s;
    text-decoration: none;
}


.o-nav-1{
    display: flex;
}

.o-nav-2{
    display: flex;
    width: 20rem;
    justify-content: space-around;
}

.o-navlink:hover{
    text-decoration: none;
}