/* estilos de la pagina completa */
.o-Acount{
    display: flex;
    color: #888065;
    justify-content: space-between;
    
}
/* estilos de la imagen lateral */
.o-img-acount{
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
    width: 50rem;
    background-image: url('../../Resources/Images/myAccount.png');
    background-position: center;
    background-size: cover;
    
}
/* estilos del contenedor derecho */
.o-contentAcount{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 5rem;
    margin-left: 2rem;
}

/* estilos del top del contenedor derecho */
.o-contentTopAcount{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
/* estilos de los lables con el input */
.o-changeInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.o-labeled{
    width: 7rem;
    margin-right: 4rem;
    text-align: initial;
    font-weight: 300;
    color: #717171;
}
.o-personalTitle{
    color: #677D8A;
    
}
h3{
    margin-top: 0 !important;
}
/* estilos del avatar */
.o-avatarChange{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* estilos del boton */
.o-changeButton{
    margin-left: 11rem;
}
/* estilos del logo */
.o-change-logo{
    margin:0 !important;   
}
/* estilos del boton de cambiar */
.o-pchange{
    font-size: 0.75rem;
    font-weight: 300;
    color: #677D8A;
}
/* estilos para la reputation */
.o-reputation{
    display: flex;
    align-items: center;
}
/* estilos para el icono de cuenta */
.AcountIcon{
    margin-left: 0.6rem;
}

.o-itemsAcount{
    display: flex;
    justify-content: space-between;
}

.iconProfile{
    color:#D7D0B7;
}
/* estilos del comentario */
.o-comments{
    color:#677D8A;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    width: 14rem;
    font-weight: 300 !important; 
    cursor: pointer;
    margin-bottom: 4rem;
}
/* esitlos de los iconos de comment */
.iconComments{
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
}
/* estilos para el texto de bienvenido */
.o-bienvenido{
    margin-top: 20rem;
    font-size: 2rem;
}

/* Mediaquerys para tablet y los diferentes componentes descritos*/
@media only screen and (max-width: 768px){
    /* estilos para el contenedor mayor */
    .o-Acount{
        display: flex;
        flex-direction: row;
        padding-right: 0.5rem;
        
    }
    /* estilos para el conetedor de la imagen */
    .o-contentPersonalAcount{
        display: flex;
       justify-content: center;
        width: 100%;
        padding-left: 0.5rem ;
    }
    /* estilos para el panel de abajo */
    .o-contentAcount{
        margin-right:0;
        margin-top: 0;
        padding: 0;
        width: 100%;
        display: flex;
        margin-left: 1rem;
     
    }
/* estilos de la imagen */
    .o-img-acount{
        width: 100%;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }

/* estilos del contenedor derecho */
    .o-contentTopAcount{
        flex-direction: column;
    }

}

/* Mediaquerys para movil y los diferentes componentes descritos*/
@media only screen and (max-width: 700px){
    /* estilos del contenedor de la imagen */
    .o-contentPersonalAcount{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0.5rem !important;
        margin-bottom: 2rem;
    }
    /* estilos para el contenedor de abajo */
    .o-topAcount{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    /* estilos generales del contenedor mayor */
    .o-Acount{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        
    }
    /* estilos del titulo de reputacion */
    .o-personalTitle{
        width: 100%;
        
    }

/* estilos para el titulo de bienvenido */
    .o-bienvenido{
        margin-top: 20rem;
        font-size: 1.5rem;
    }
/* estilos del contenedor de la informacion personal */
    .o-contentAcount{
        margin-right:0;
        margin-top: 0;
        padding-left: 0.5rem !important;
        margin-left: 0;
        width: 100%;
        padding: 0;

    }
    /* estilos del boton */
    .o-changeButton{
        margin-left: 4rem;
    }
/* estilos para la imagen */
    .o-img-acount{
        width: 100%;
        padding: 0rem 0 0 0.5rem;
        
    }

    .MuiInputBase-root{
        width: auto  ;
        padding: 0;
        
    }
    /* estilos de los label de texto */
    .o-labeled{
        width: 5rem;
        margin-right: 1rem;

    }
/* estilos del logo de user */
    .o-user-logo{
        margin: 0 !important;
    }
/* estilos para el contenido superior del panel de abajo */
    .o-contentTopAcount{
        flex-direction: column;
    }

}