.o-Acount{
    display: flex;
    color: #888065;
    justify-content: space-between;
    
}

.o-img-acount{
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
    /* min-height: 27rem;
    min-width: 30rem; */
    width: 50rem;
    /* height: 100vh; */
    background-image: url('../../Resources/Images/myAccount.png');
    background-position: center;
    background-size: cover;
    
}

.o-contentAcount{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 5rem;
    margin-left: 2rem;
}


.o-contentTopAcount{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.o-changeInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.o-labeled{
    width: 7rem;
    margin-right: 4rem;
    text-align: initial;
    font-weight: 300;
    color: #717171;
}
.o-personalTitle{
    color: #677D8A;
    
}
h3{
    margin-top: 0 !important;
}
.o-avatarChange{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o-changeButton{
    margin-left: 11rem;
}
.o-change-logo{
    margin:0 !important;   
}
.o-pchange{
    font-size: 0.75rem;
    font-weight: 300;
    color: #677D8A;
}
.o-reputation{
    display: flex;
    align-items: center;
}
.AcountIcon{
    margin-left: 0.6rem;
}

.o-itemsAcount{
    display: flex;
    justify-content: space-between;
}

.iconProfile{
    color:#D7D0B7;
}

.o-comments{
    color:#677D8A;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    width: 14rem;
    font-weight: 300 !important; 
    cursor: pointer;
    margin-bottom: 4rem;
}
.iconComments{
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
}

.o-bienvenido{
    margin-top: 20rem;
    font-size: 2rem;
}

/* Mediaquerys para tablet */
@media only screen and (max-width: 768px){
    .o-Acount{
        display: flex;
        flex-direction: row;
        padding-right: 0.5rem;
        
    }
    .o-contentPersonalAcount{
        display: flex;
       justify-content: center;
        width: 100%;
        padding-left: 0.5rem ;
    }
    .o-contentAcount{
        margin-right:0;
        margin-top: 0;
        padding: 0;
        width: 100%;
        display: flex;
        margin-left: 1rem;
     
    }

    .o-img-acount{
        width: 100%;
        padding-left: 1rem;
    }


    .o-contentTopAcount{

        flex-direction: column;
    }

}

/* Mediaquerys para mobil */
@media only screen and (max-width: 700px){
    .o-contentPersonalAcount{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0.5rem !important;
    }
    .o-topAcount{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .o-Acount{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        
    }
    .o-personalTitle{
        width: 100%;
        
    }


    .o-bienvenido{
        margin-top: 20rem;
        font-size: 1.5rem;
    }

    .o-contentAcount{
        margin-right:0;
        margin-top: 0;
        padding-left: 0.5rem !important;
        margin-left: 0;
        width: 100%;
        padding: 0;

    }
    .o-changeButton{
        margin-left: 4rem;
    }

    .o-img-acount{
        width: 100%;
        padding: 0rem 0 0 0.5rem;
        
    }

    .MuiInputBase-root{
        width: auto  ;
        padding: 0;
        
    }
    .o-labeled{
        width: 5rem;
        margin-right: 1rem;

    }

    .o-user-logo{
        margin: 0 !important;
    }

    .o-contentTopAcount{
        flex-direction: column;
    }

}