.o-Acount{
    display: flex;
    color: #888065;
    justify-content: space-between;
    
}

.o-contentAcount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 12rem;

}


.o-contentTopAcount{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.o-img-acount{
    width: 42.87rem;
}

.o-topAcount{
    font-size: 1.5rem;
    text-align: center;
}

.o-reputation{
    display: flex;
    align-items: center;
}
.AcountIcon{
    margin-left: 0.6rem;
}

.o-itemsAcount{
    display: flex;
    justify-content: space-between;
}

/* Mediaquerys para tablet */
@media only screen and (max-width: 768px){
    .o-Acount{
        display: flex;
        flex-direction: column;
        
    }
    .o-contentAcount{
        margin-right:0;
        margin-top: 2rem;
        padding: 1rem;

    }

    .o-img-acount{
        width: 0rem;
    }

    .makeStyles-large-3{
        margin: 0 !important;
    }

    .o-contentTopAcount{

        flex-direction: column;
    }

}

/* Mediaquerys para mobil */
@media only screen and (max-width: 700px){
    .o-Acount{
        display: flex;
        flex-direction: column;
        
    }
    .o-contentAcount{
        margin-right:0;
        margin-top: 2rem;
        padding: 1rem;

    }

    .o-img-acount{
        width: 0rem;
    }

    .makeStyles-large-3{
        margin: 0 !important;
    }

    .o-contentTopAcount{

        flex-direction: column;
    }

}